@model FreewayIT.Test.ViewModels.Employees.CreateEditEmployeeViewModel

@Html.HiddenFor(model => model.ID)

<div class="editor-label">
    @Html.LabelFor(model => model.FirstName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FirstName)
    @Html.ValidationMessageFor(model => model.FirstName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LastName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LastName)
    @Html.ValidationMessageFor(model => model.LastName)
</div>
<div class="row">
	<div class="col-6">
		<div class="editor-label">
			@Html.Label("Birth Month")<br />
			@Html.DropDownListFor(model => model.BirthMonth, new SelectList(
			new[] { "Jan", "Feb", "March", "April", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec" }))
			@Html.ValidationMessageFor(model => model.BirthMonth)
		</div>
	</div>

	<div class="col-6">
		<div class="editor-label">
			@Html.LabelFor(model => model.CityID, "City")
		</div>

		<div class="editor-field">
			@Html.DropDownListFor(model => model.CityID, Model.Cities)
			@Html.ValidationMessageFor(model => model.CityID)
		</div>
	</div>
</div>