@model IEnumerable<FreewayIT.Test.DAL.City>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-sm table-striped">
    <tr>
        <th scope="col" class="col-8">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th scope="col" class="col-4"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
		<td class="single-rec-button">
			@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn text-primary fs-8" }) |
			@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn text-primary fs-8" }) |
			@using (Html.BeginForm("Delete", "City", new { id = item.ID }, FormMethod.Post, new { @onsubmit = "return confirm('Czy na pewno chcesz usunąć?');", style = "display:inline;" }))
			{
			@Html.AntiForgeryToken()
			<input type="submit" value="Delete" class="btn text-danger fs-8" />
			}
		</td>
    </tr>
}

</table>
<div class="btns">
	<p class="btn btn-primary btn-sm">
		@Html.ActionLink("Create New", "Create")
	</p>
	<p class="btn btn-secondary btn-sm to-cities">@Html.ActionLink("Employees", "Index", "Employee")</p>

</div>
